@charset "utf-8";

/* 메인 페이지 하단 영역 CSS - footer.css */


#info *{
    /* outline: 1px dashed rgb(133, 133, 133); */
}

footer.info{
    height: 210px;
}

/* 로고 겉박스 */
.logo_bx{
    padding: 10px 20px 0;
    margin-bottom: 10px;
    text-align: center;
}
.logo_bx img{
    width: 140px;
}

/* 라인 svg 겉박스 */
.line_bx{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 화살표 꼬리 svg 공통 세팅 */
.line_bx .arrow-tail{
    width: 20px;
    height: 20px;
}
/* 라인 중 가운데 실선 svg 설정 */
.line_bx .border{
    width: 70vw;
    height: 20px;
    margin: 0 10px;
}
/* 화살표 꼬리와 가운데 실선 사이 원을 위한 박스 */
.line_bx .cir{
    display: flex;
    align-items: center;
}
.line_bx .cir::before{
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--arrow-grey-color);
    margin-left: 10px;
}
.line_bx .cir::after{
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--arrow-grey-color);
    margin-right: 10px;
}

/* 라인 중 꼬리 모양(.right) 설정 */
.line_bx svg:nth-child(3){
    transform: rotateY(180deg)
}

/* sns 리스트 */
.sns_list{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 18px;
    color: var(--ft-navy-color);
}

/* 기타 링크 */
.etc_link{
    padding: 10px 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.etc_link a{
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    color: var(--ft-navy-color);
}

/* 회사 정보 */
.corp_info{
    padding: 10px 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;

    font-family: 'Asap', sans-serif;
    font-size: 12px;
    color: var(--ft-navy-color);
}


/* 하단 영역 위쪽의 경계선 svg 요소들 세팅 */
#Group-1{
    stroke:none;
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd;
}
#Group-2{
    stroke-linecap: round;
    stroke:var(--arrow-grey-color);
}
#Group-3{
    stroke: none;
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd;
}

#Line-1{
    stroke-linecap: square;
    stroke: var(--arrow-grey-color);
}
#Line-2{
    stroke: var(--arrow-grey-color);
}