@charset "utf-8";

/* 스크롤 유도 표시 컴포넌트 CSS - scroll.css */

.scrl_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 20%;
    right: 5%;

    /* animation: scrlAni 1s ease-in-out infinite; */
}
/* svg 요소 세팅 */
.scrl_container>svg{
    width: 20px;
    height: 20px;
}
.scrl_container svg.arrow-tail{
    transform: rotate(90deg);
    /* animation: tailAni 1s ease-out infinite; */
}
.scrl_container svg.arrow-head{
    transform: rotate(-90deg);
    /* animation: headAni 1s ease-out infinite; */
}
/* 점 세팅 */
.scrl_container .dot{
    width: 3px;
    height: 3px;
    background-color: var(--arrow-grey-color);
    border-radius: 50%;
}
/* 글자 세팅 */
.scrl_container .txt{
    font-family: 'Asap', sans-serif;
    writing-mode: vertical-rl;
    font-size: var(--font-medium);
    color: var(--ft-navy-color);
    font-weight: 500;
}

/* 애니메이션 키프레임 */
@keyframes tailAni {
    0%{
        transform: rotate(90deg) translateX(-10px);
    }
    100%{
        transform: rotate(90deg) translateX(0px);
    }
}
@keyframes headAni {
    0%{
        transform: rotate(-90deg) translateX(10px);
    }
    100%{
        transform: rotate(-90deg) translateX(0px);
    }
}
